<div class="box">
  <div class="hero">
    <div class="hero-body is-fullheight">
      <p class="title">
        {{'Audio' | capitalize }} Detection
      </p>
      <div class="subtitle">
         <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="../../assets/Image/audio.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Audio Test</strong>
                <br>
                Audio test works with your audio recording
                </p>
            </div>
          </div>

        </article>
      </div>
        <button class="button is=dark" (click)="onDetails()"> Get Started</button>
    </div>
  </div>
</div>
